<form class="card login-form mb-3">
    <div><label class="form-label" for="email-login">username:</label><input class="form-control" type="text" id="user-login"/></div>
    <div><label class="form-label" for="password-login">password</label><input class="form-control" type="text" id="password-login"/></div>
    <div><button class="btn btn-primary" type="submit">log in</button></div>
</form>

<form class="card signup-form">
  <div>
    <label class="form-label" for="username-signup">username:</label>
    <input class="form-control" type="text" id="username-signup" />
  </div>
  <div>
    <label class="form-label" for="password-signup">password:</label>
    <input class="form-control" type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn btn-primary
    " type="submit">sign up</button>
  </div>
</form>
<script src="/javascript/login.js"></script>