{{>post-info plainPost}}
{{#if loggedIn}}
<form id="comment-form">
  <div>
    <input class="col-8 m-3" type="text" id="new-comment"></input>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>
{{/if}}
{{>comment plainPost.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}