{{>post-info plainPost}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>
{{/if}}
{{>comment plainPost.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}